<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
<body>
<% include partials/header %>
<div class="container-1 center-align">
        <div class="row">
                <div class="col s12 m8 offset-m2">
                  <div class="card purple accent-3">
                    <div class="card-content white-text">
                      <span class="card-title">Registros</span>


                        
                          <form action="/buscar" method="POST">
                            <div class="row">
                              <div class="input-field col s6">
                                <input  type="text"  placeholder="Introduce Nombre o parte"  name="name" class="validate">
                                    
                                <button class="waves-effect waves-light btn-large teal lighten-2" type="submit">Buscar Por Nombre</button>
                              </div>
                              <div class="col s6">
                                <a  class="waves-effect waves-light btn-large teal lighten-2" style="font-size:2em" href="/datos" class="button">Nuevo</a>

                              </div>
                          </div>
                          </form> 
                     
                      <table border="1">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Direccion</th>
                                    <th>Telefono</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% data.forEach(function(details) { %>
                                <tr>
                                    <td><%= details.name %></td>
                                    <td><%= details.address %></td>
                                    <td><%= details.phone %></td>
                                    <td><a class="waves-effect waves-light btn" href="/edit/<%= details.id %>">Editar</a> - <a class="waves-effect waves-light btn" href="/delete/<%= details.id %>">Eliminar</a></td>
                                </tr>
                                <% }) %>
                            </tbody>
                          </table>
                          <br>
                          <a  class="waves-effect waves-light btn-large  deep-purple accent-3" href="/datos" style="font-size:1.8em" class="button">Nuevo</a>
                        
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                </div>
              </div>
   
  
             

</div>
<% include partials/foot %>
  
</body>

</html>